<section class="error-page">
  <div class="error-page__bg"></div>
  <h1 class="error-page__code">500</h1>
  <p class="error-page__text"><%= t('error.server') %></p>
  <a href="/" class="error-page__btn"><%= t('error.back_home') %> &rarr;</a>
</section>
